<a href="https://colab.research.google.com/github/Hemant051/Machine-Learning/blob/main/MachineLearning_Air%20Quality%20Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
AirQuality={'S.No': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
            'Ozone': [41,36,12,18,227,28,23,19,8,24,7,16,11,14,18,14,34,6,30,11],
            'Solar R': [190,118,149,313,192,193,299,99,19,194,152,256,290,274,65,334,307,78,322,44],
            'Wind': [7.4,8,12.6,11.5,14.3,14.9,8.6,13.8,20.1,8.6,6.9,9.7,9.2,10.9,13.2,11.5,1,18.4,11.5,9.7],
            'Temp': [67,72,74,62,56,66,65,59,61,69,74,69,66,68,58,64,66,57,68,62],
            'Month': [5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5],
            'Day': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    }
df=pd.DataFrame(AirQuality,columns=['S.No','Ozone','Solar R','Wind','Temp','Month','Day',])
print(df)

    S.No  Ozone  Solar R  Wind  Temp  Month  Day
0      1     41      190   7.4    67      5    1
1      2     36      118   8.0    72      5    2
2      3     12      149  12.6    74      5    3
3      4     18      313  11.5    62      5    4
4      5    227      192  14.3    56      5    5
5      6     28      193  14.9    66      5    6
6      7     23      299   8.6    65      5    7
7      8     19       99  13.8    59      5    8
8      9      8       19  20.1    61      5    9
9     10     24      194   8.6    69      5   10
10    11      7      152   6.9    74      5   11
11    12     16      256   9.7    69      5   12
12    13     11      290   9.2    66      5   13
13    14     14      274  10.9    68      5   14
14    15     18       65  13.2    58      5   15
15    16     14      334  11.5    64      5   16
16    17     34      307   1.0    66      5   17
17    18      6       78  18.4    57      5   18
18    19     30      322  11.5    68      5   19
19    20     11       44   9.7    62      5   20

In [ ]:
df.describe()

           S.No       Ozone     Solar R       Wind       Temp  Month       Day
count  20.00000   20.000000   20.000000  20.000000  20.000000   20.0  20.00000
mean   10.50000   29.850000  194.400000  11.090000  65.150000    5.0  10.50000
std     5.91608   47.474398  101.366661   4.207875   5.294237    0.0   5.91608
min     1.00000    6.000000   19.000000   1.000000  56.000000    5.0   1.00000
25%     5.75000   11.750000  113.250000   8.600000  61.750000    5.0   5.75000
50%    10.50000   18.000000  192.500000  11.200000  66.000000    5.0  10.50000
75%    15.25000   28.500000  292.250000  13.350000  68.250000    5.0  15.25000
max    20.00000  227.000000  334.000000  20.100000  74.000000    5.0  20.00000

In [ ]:
df.head()

   S.No  Ozone  Solar R  Wind  Temp  Month  Day
0     1     41      190   7.4    67      5    1
1     2     36      118   8.0    72      5    2
2     3     12      149  12.6    74      5    3
3     4     18      313  11.5    62      5    4
4     5    227      192  14.3    56      5    5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.No     20 non-null     int64
 1   Ozone    20 non-null     int64
 2   Solar R  20 non-null     int64
 3   Wind     20 non-null     float64
 4   Temp     20 non-null     int64
 5   Month    20 non-null     int64
 6   Day      20 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 1.2 KB

In [ ]:
df.nunique()

S.No       20
Ozone      17
Solar R    20
Wind       16
Temp       14
Month       1
Day        20
dtype: int64

In [ ]:
df.max()
df.min()
df.mean()
df.median()

S.No        10.5
Ozone       18.0
Solar R    192.5
Wind        11.2
Temp        66.0
Month        5.0
Day         10.5
dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()
#model.fit(X,y)
#r_sq = model.score(X,y)
#print('coefficient of determination:', r_sq)
model = LinearRegression()
df=df.drop('S.No',axis='columns')
model.fit(df.drop('Ozone',axis='columns'),df.Ozone)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**r_sq = model.score(x, y)**

In [ ]:
r_sq = model.score(df.drop('Ozone',axis='columns'),df.Ozone)
print('Coffecient of determination:', r_sq)
print('intercept:', model.intercept_)
print('slope:', model.coef_)

Coffecient of determination: 0.33107319052556106
intercept: 423.4305832020601
slope: [ 0.07301469 -2.12425254 -5.33184418  0.         -3.50924086]

In [ ]:
model.predict([[299,8.6,65,5,7]])

array([55.8588446])

In [ ]:
model.predict([[313,11.5,62,5,21]])

array([17.58687832])

In [ ]:
model.predict([[192,14.3,56,5,5]])

array([90.94311311])